<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <!-- I assume this will not work  -->
  <nlog>
    <extensions>
      <add assembly="le_nlog" />
    </extensions>
    <targets>
      <target name="logentries" type="Logentries" debug="false" httpPut="false" ssl="false" layout="${date:format=ddd MMM dd} ${time:format=HH:mm:ss} ${date:format=zzz yyyy} ${logger} : ${LEVEL}, ${message}" />
    </targets>
    <rules>
      <logger name="*" minLevel="Info" appendTo="logentries" />
    </rules>
  </nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="LOGENTRIES_TOKEN" value="b340c5b6-da2b-4f20-b98b-6dda4a27d0b1" />
    <add key="RavenUrl" value="https://2.ravenhq.com/databases/AppHarbor_6d9ac094-3ec0-454d-8f3f-b838f0847e99" />
    <add key="RavenKey" value="8145df81-9552-4979-b44a-7aaf671ddbce" />
    <add key="SMTPServer" value="smtp.mailgun.org" />
    <add key="SMTPPort" value="587" />
    <add key="SMTPUsername" value="postmaster@app14359.mailgun.org" />
    <add key="SMTPPassword" value="7dq2bp-1mi50" />
    <add key="WebUrl" value="http://localhost:51908/" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>