<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RavenUrl" value="https://aeo.ravenhq.com/databases/AppHarbor_48e97815-70ea-43bc-ac81-4229e1cc4454" />
    <add key="RavenKey" value="3d9f210f-2fdc-4eb5-a350-5d4cc3a1e226" />
    <add key="SMTPServer" value="smtp.mailgun.org" />
    <add key="SMTPPort" value="587" />
    <add key="SMTPUsername" value="postmaster@app14359.mailgun.org" />
    <add key="SMTPPassword" value="7dq2bp-1mi50" />
    <add key="WebUrl" value="http://activerequirementsreview.apphb.com/" />
  </appSettings>
</configuration>